[run]
source =
    pyramid_jinja2

[paths]
source =
    pyramid_jinja2
    */pyramid_jinja2
    */site-packages/pyramid_jinja2

[report]
omit =
    */pyramid_jinja2/scaffolds/__init__.py

show_missing = true
precision = 2
