graft src/pyramid_jinja2
graft tests
graft docs
graft demo
graft .github

include README.rst
include CHANGES.rst
include LICENSE.txt
include CONTRIBUTORS.txt
include COPYRIGHT.txt

include pyproject.toml
include setup.cfg
include .coveragerc
include tox.ini
include rtd.txt

prune docs/_build
prune docs/_themes

recursive-exclude * __pycache__ *.py[cod]
